@font-face {
  font-family: "Gotham-Regular";
  src: url("assets/fonts/Gotham-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gotham-Medium";
  src: url("assets/fonts/Gotham-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gotham-Black";
  src: url("assets/fonts/Gotham-Black.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gotham-Bold";
  src: url("assets/fonts/Gotham-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@import-normalize;
@custom-selector :--heading h1, h2, h3, h4, h5, h6;
@custom-selector :--link a, a:visited, a:active, a:link;
@custom-selector :--list ol, ul, li;

* {
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-size: 1rem;
}

:--heading,
:--list,
p {
  padding: 0;
  margin: 0;
}
