/* font face rules */
@import "./app/styles/typographies/_font-face.css";

/* custom media queries */
@custom-media --belowDesktop (max-width: 768px);

/* custom selectors */
@custom-selector :--heading h1, h2, h3, h4, h5, h6;
@custom-selector :--link a, a:visited, a:active, a:link;
@custom-selector :--list ol, ul, li;

/* normalize */
@import-normalize;

/* base styles */
* {
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
}

html {
  overflow-x: hidden;
  @media(--belowDesktop) {
    font-size: var(--fs) !important;
  }
}

body {
  margin: 0;
  font-size: 1rem;
}

:--heading,
:--list,
p {
  padding: 0;
  margin: 0;
}
